.menu {
  cursor: default;
  height: 32px;
  align-items: center;
  position: absolute;
  padding: 0 8px;
  background-color: #9DC2D4;
  top: 48px;
  right: 0;
  border: 2px solid #FFF;
  border-radius: 4px;
}